.homepage {
  width: 100%;
  height: auto;
}

/** Services **/

.homepage .services-frame {
  margin-top: 80px;
  margin-bottom: 70px;
  width: 100%;
  height: 360px;
  /* background-color: #20B486; */
}

.homepage .services-frame .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.homepage .services-frame .info .title {
  color: #20b486;
  text-align: center;

  /* Text md/Semibold */
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  align-self: stretch;
}

.homepage .services-frame .info .txt {
  color: #101828;
  text-align: center;
  width: 768px;
  height: 88px;

  /* Display md/Semibold */
  font-family: Inter, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
  letter-spacing: -0.72px;
}

.cards,
.card,
.container,
.row,
.col-sm-4 {
  background: none !important;
  border: none !important;
}

.homepage .services-frame .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  height: 290px;
}

.our-services {
  /* background-color: #140342; */
  margin-top: 40px;
}
.homepage .services-frame .our-services .flip-container .title {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: center;
  width: 316px;
  height: 48px;
}

.homepage .services-frame .our-services .flip-container .title .title-txt {
  width: 248px;
  height: 36px;
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
  letter-spacing: 0.48px;
}
.homepage .services-frame .our-services .flip-container .content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.homepage
  .services-frame
  .our-services
  .flip-container
  .content-wrapper
  .content
  .txt {
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 28.8px */
  width: 293px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.homepage
  .services-frame
  .our-services
  .flip-container
  .flipper
  .front
  .content-wrapper
  .content
  .button {
  margin-top: 20px;
  /* margin-left: -60px; */
}

.homepage
  .services-frame
  .our-services
  .flip-container
  .flipper
  .front
  .content-wrapper
  .content
  .button
  button {
  background-color: transparent;
  border: none;
  margin-left: -152px;
}

.homepage
  .services-frame
  .our-services
  .flip-container
  .flipper
  .front
  .content-wrapper
  .content
  .btn-txt {
  padding-right: 10px;
  color: #fff;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
  letter-spacing: 0.36px;
}

.homepage .services-frame .our-services .flip-container .flipper .back .title {
  color: #4ac8ae;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
  letter-spacing: 0.48px;
}

.homepage .services-frame .our-services .flip-container .flipper .back .txt {
  color: black;
}

.flip-container {
  perspective: 1000px;
  margin: 0 auto 60px auto;
  width: 320px;
  height: 200px;
  border-radius: 15px;
  cursor: pointer;
}

.flip-container:hover .flipper {
  transform: rotateY(180deg);
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
}

.front,
.back {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
}

.front h3,
.back h5 {
  font-size: 18px;
  margin-top: 10px;
}

.back {
  transform: rotateY(180deg);
}

.back p {
  font-size: 14px;
  margin: 15px;
}

/** POPULAR DISHES **/

.homepage .popular-dishes-frame {
  width: 100%;
  height: 580px;
  display: flex;
  background: #f5f6f8;
}

.homepage .popular-dishes-frame .popular-section {
  margin-top: 45px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.homepage .popular-dishes-frame .popular-section .category-title {
  text-align: center;
  font-family: "Roboto Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.44px;
  color: #000;
}

.homepage .popular-dishes-frame .popular-section .cards-frame {
  width: 100%;
  margin-top: 43px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage .popular-dishes-frame .popular-section .cards-frame .card {
  min-height: 430px;
  min-width: 300px;
  cursor: pointer;
}

.homepage
  .popular-dishes-frame
  .popular-section
  .cards-frame
  .card
  .card-cover {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0) 200px
    ),
    linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 300px);
}

.homepage .popular-dishes-frame .no-data {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #e3c09d;
}

/** NEW PRODUCTS **/

.homepage .new-products-frame {
  width: 100%;
  min-height: 605px; /* Allow it to grow if needed */
  display: flex;
  background: #f5f6f8;
  padding: 20px 0;
}

.homepage .main {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.homepage .new-products-frame .category-title {
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
}

.homepage .new-products-frame .cards-frame {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 20px; /* Adds spacing between cards */
  margin-top: 47px;
}

.homepage .new-products-frame .card {
  width: 290px;
  min-height: 335px;
  display: flex;
  cursor: pointer;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.homepage .new-products-frame .product-sale {
  position: absolute;
  margin-top: 10px;
  z-index: 10;
  width: 90px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff9200;
  box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #f8f8ff;
}

.homepage .new-products-frame .product-detail {
  width: 100%;
  padding: 10px;
  border-top: 1px solid #f8f8ff;
  background-color: #fafbfb;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.homepage .new-products-frame .info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.homepage .new-products-frame .title {
  font-weight: 500;
  width: 100%;
  max-width: 250px;
  word-wrap: break-word;
  white-space: normal;
}

.homepage .new-products-frame .divider {
  width: 2px;
  height: 24px;
  background: #d9d9d9;
}

.homepage .new-products-frame .views {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.homepage .new-products-frame .no-data {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #e3c09d;
  text-align: center;
}

/** ADVERTISEMENT **/

.homepage .ads-restaurant-frame {
  width: 100%;
  height: 693px;
  overflow: hidden;
  transform: perspective(0px);
  box-shadow: -3px 0px 10px 14px #34343480;
}

.homepage .ads-restaurant-frame .ads-video {
  width: 100%;
  background: #0c0e12;
  display: flex;
  box-shadow: 0px -8px 90px rgb(215 215 255);
  transform: scale(1.5);
  overflow: hidden;
}

/** ACTIVE USERS **/

.homepage .active-users-frame {
  width: 100%;
  height: 605px;
  display: flex;
  background: #f5f6f8;
}

.homepage .main {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .active-users-frame .category-title {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
}

.homepage .active-users-frame .main .cards-frame {
  width: 100%;
  margin: 47px 2px 2px 2px;
  flex-direction: row;
  justify-content: space-between;
}

.homepage .active-users-frame .main .card {
  height: 319px;
  width: 305px;
  cursor: pointer;
}

.homepage .active-users-frame .product-detail {
  width: auto;
  height: 212px;
  margin-top: -12px;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #b7b7b7;
  background-color: #fff;
  align-items: center;
}

.homepage .active-users-frame .product-detail .member-nickname {
  color: #000;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Roboto Serif";
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
}

.homepage .active-users-frame .no-data {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #e3c09d;
}

/** EVENTS **/

.homepage .events-frame {
  width: 100%;
  height: 745px;
  background: #f5f6f8;
  display: flex;
}

.homepage .events-frame .category-title {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  padding-top: 20px;
}

.homepage .events-frame .events-main {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage .events-frame .events-main .events-text {
  width: auto;
  height: 70px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homepage .events-frame .events-main .prev-next-frame {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin: 40px 0 40px 0;
  height: 25px;
}

.homepage .events-frame .dot-frame-pagination {
  position: relative;
  width: auto;
  display: flex;
}

.homepage .events-frame .events-main .events-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage .events-frame .events-info .events-info-frame {
  position: relative;
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .events-frame .events-img {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 10px;
  background-size: cover;
}

.homepage .events-frame .events-desc {
  position: absolute;
  margin-bottom: 7px;
  padding: 10px;
  display: flex;
  width: 90%;
  height: auto;
  bottom: 5px;
  background: #f8f8ff;
  box-shadow: 0px 40px 30px rgba(25, 25, 46, 0.04);
  border-radius: 8px;
}

.homepage .events-frame .events-desc .events-bott {
  width: 97%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.homepage .events-frame .events-desc .events-bott .bott-left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.homepage .events-frame .bott-left .event-title-speaker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage .events-frame .event-title-speaker .event-organizator {
  display: flex;
  align-items: center;
}

.homepage .events-frame .event-title-speaker .event-organizator img {
  width: 20px;
  margin-right: 10px;
}

.homepage .events-frame .event-organizator .spec-text-author {
  font-family: "GT Walsheim Pro";
  font-style: normal;
  line-height: 34px;
  color: #140342;
}

.homepage .events-frame .bott-left .text-desc {
  margin-top: 10px;
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #4f547b;
}

.homepage .events-frame .bott-left .bott-info {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 100%;
  height: 16px;
}

.homepage .events-frame .bott-info .bott-info-main {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: auto;
  height: 100%;
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #4f547b;
}

.homepage .events-frame .bott-info .bott-info-main img {
  margin-right: 10px;
}

.homepage .events-frame .swiper-wrapper {
  display: flex;
  flex-direction: row;
}

.homepage .events-frame .swiper-pagination-bullet {
  margin-right: 5px;
  width: 8px;
  height: 8px;
  text-align: center;
  opacity: 1;
  background: #f8f8ff;
  border-radius: 50%;
}

.homepage .events-frame .swiper-pagination-bullet-active {
  background: #343434;
  border-radius: 50%;
}
